.header {
   
    // Hamburger Open Style
    &.open {
        
        

        .header__toggle {
            >span:first-child{
                // top: 50%;
                transform: translateY($ham_ty) rotate(45deg);
            }

            >span:nth-child(2){
                opacity: 0;
            }

            >span:last-child{
                // transform-origin: bottom left;
                
                transform: translateY(-$ham_ty) rotate(-45deg);
            }
        }
    }

    nav {
        padding-top: math.div(17rem, 16);
        padding-bottom: math.div(17rem, 16);
    }

    &__logo {
        img {
            width: math.div(140rem, 16);
            height: math.div(20rem, 16);
        }
    }

    &__toggle { // Moblie Menu
        > span {
            display: block;
            width: 24px;
            height: $h_toggle;
            background-color: $darkBlue;
            transition: all 300ms ease-in-out;
            transform-origin: center center;

            &:not(:last-child){
                margin-bottom: $mb_toggle;
            }
        }

        
    }

    &__menu {
        background: $white;
        padding: math.div(35rem, 16) 0;
        margin: 1.5rem math.div(24rem, 16);
        border-radius: 3px;
        position: absolute;
        width: calc(100% - 3rem);
        // top: 1.5rem;

        a {
            display: block;
            color: $darkBlue;
            text-align: center;
            &:not(:first-child) {
                padding-top: math.div(15rem, 16)
            }
            &:not(:last-child) {
                padding-bottom: math.div(15rem, 16);
            }
            
        }
    }

    &__links {
        a {
            position: relative;
            font-size: $font-sm;
            color: $grayishBlue;
            transition: color 300ms ease-in-out;

            &:not(:last-child){
                margin-right: 32px;
            }

            &::before {
                content: "";
                display: block;
                height: 0;
                position: absolute;
                left: 0;
                right: 0;
                bottom: math.div(-31rem, 16);
                background: linear-gradient(to right, $limeGreen, $brightCyan);
                opacity: 0;
                transition: all 300ms ease-in-out ;
            }

            &:hover {
                color: $darkBlue;

                &::before {
                    height: 4px;
                    opacity: 1;
                }
            }
        }
    }

    &__cta {
        font-size: $font-xsm;
        color: $white;
        transition: opacity 300ms ease-in-out;

        &:hover {
            opacity: 0.75;
        }
    }
}

.overlay {
    display: block;
    visibility: hidden;
    position: fixed;
    top: math.div(59.5rem, 16);
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient($darkBlue, transparent);
}