.header {

    &.open {
        
        .overlay {
            display: block;
        }

        .header__menu {
            >span:first-child{
                // top: 50%;
                transform: translateY($ham_ty) rotate(45deg);
            }

            >span:nth-child(2){
                opacity: 0;
            }

            >span:last-child{
                // transform-origin: bottom left;
                
                transform: translateY(-$ham_ty) rotate(-45deg);
            }
        }
    }

    nav {
        padding: math.div(17rem, 16) math.div(24rem, 16);
    }

    &__logo {
        img {
            width: math.div(140rem, 16);
            height: math.div(20rem, 16);
        }
    }

    &__menu { // Moblie Menu
        > span {
            display: block;
            width: 24px;
            height: $h_menu;
            background-color: $darkBlue;
            transition: all 300ms ease-in-out;
            transform-origin: center center;

            &:not(:last-child){
                margin-bottom: $mb_menu;
            }
        }

        
    }

    &__links {
        a {
            position: relative;
            font-size: $font-sm;
            color: $grayishBlue;
            transition: color 300ms ease-in-out;

            &:not(:last-child){
                margin-right: 32px;
            }

            &::before {
                content: "";
                display: block;
                height: 0;
                position: absolute;
                left: 0;
                right: 0;
                bottom: math.div(-31rem, 16);
                background: linear-gradient(to right, $limeGreen, $brightCyan);
                opacity: 0;
                transition: all 300ms ease-in-out ;
            }

            &:hover {
                color: $darkBlue;

                &::before {
                    height: 4px;
                    opacity: 1;
                }
            }
        }
    }

    &__cta {
        font-size: $font-xsm;
        color: $white;
        transition: opacity 300ms ease-in-out;

        &:hover {
            opacity: 0.75;
        }
    }
}

.overlay {
    display: none;
    position: fixed;
    top: math.div(59.5rem, 16);
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient($darkBlue, transparent);
}