// Colors
$darkBlue: hsl(233, 26%, 24%);
$limeGreen: hsl(136, 65%, 51%);
$brightCyan: hsl(192, 70%, 51%);
$grayishBlue: hsl(233, 8%, 62%);
$lightGrayishBlue: hsl(220, 16%, 96%);
$veryLightGray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);

// Font Sizes
$font-sm: math.div(12rem, 16); // 12px
$font-xsm: math.div(14rem, 16);
$font-med: math.div(18rem, 16); // 18px

// Hamburger Menu
$h_menu: 1px;
$mb_menu: 4px;
$ham_ty: $h_menu + $mb_menu;

